.header {
    background-color: #283618;
    // padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-img {
        width: 15rem;
        height: 15rem;

    }

    &-title {
        font-size: 3rem;
        font-weight: 800;
        color: #DDA15E;
        margin: 2rem;
        &-link {
            text-decoration: none;
            color: #DDA15E;
        }
        
        
        &-nav {
            width: 15rem;
            margin: 2rem;
            display: flex;
            justify-content: space-between;

            &-link{
                text-decoration: none;
                color: #DDA15E;
                font-size: 1.5rem;
                font-weight: 700;
            }
        }

    }
}